/* 
    Created on : 28/06/2015, 11:18:11 AM
    Author     : miguelperez
*/

/* Fonts ================================================================= */
@font-face {
    font-family: 'Conv_Grotesque MT Std Condensed';
    src: url('../font/grotesque/Grotesque MT Std Condensed.eot');
    src: url('../font/grotesque/Grotesque MT Std Condensed.woff') format('woff'),
        url('../font/grotesque/Grotesque MT Std Condensed.ttf') format('truetype'),
        url('../font/grotesque/Grotesque MT Std Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-CondensedBold';
	src: url('..font/helvetica-neue/HelveticaNeue-CondensedBold.eot');
	src: url('../font/helvetica-neue/HelveticaNeue-CondensedBold.woff') format('woff'),
            url('../font/helvetica-neue/HelveticaNeue-CondensedBold.ttf') format('truetype'), 
            url('../font/helvetica-neue/HelveticaNeue-CondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* General ============================================================= */
body{
    background: #000;
}

body.admin{
    background: #FFF;
}

.center{
    text-align: center;
}
/* Preloader ============================================================= */
#preloader-container {
    background-color: rgba(100,100,100,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}
.preloader-wrapper.big.active {
    position: absolute;
    bottom: 50%;
    right: 50%;
    margin-right: -32px;
}
.spinner-white, .spinner-white-only {
    border-color: #FFFFFF;
}
.active .spinner-layer.spinner-white-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
/* Menu ================================================================== */
.brand-logo img{
    width:100%;
}
li.logo {
    height: 120px;
}
.side-nav li.logo:hover{
    background-color: transparent;
}
.side-nav.fixed {
    background-color: #202020;
    color: #adadad;
    text-transform: uppercase;
    overflow: hidden;
}
.side-nav.fixed .bold a {
    color: #adadad;
    padding: 0 50px;
}
.side-nav li.bold:hover a, .side-nav.fixed .bold.active a {
    color: #adadad;
}
.side-nav li {
    float: none;
    padding: 0;
}
i.mdi-navigation-menu {
    color: #000;
    font-size: 24px;
}
ul.side-nav li a.waves-effect {
  font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
}

.side-nav li.bold:hover a, .side-nav.fixed .bold.active a {
  color: #000;
}


/* Waves ============================================================== */
.waves-effect.waves-esquire .waves-ripple{
    background-color: rgba(0, 164, 219, 0.5);
}

/* Content ============================================================== */
main, footer {
    padding-left: 300px;
}
#contenido-principal{
    padding: 0;
}
#contenido-principal .row{
    margin: 0;
}
#contenido-principal .row .col{
    padding: 0;
    margin: 0;
}
.full-iframe {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: hidden;
    padding: 0;
}
.center{
    margin:0 auto;
    display: block;
}
.btn-esquire{
    background-color:#444;
}
.btn-esquire:hover,.btn-esquire:active,.btn-esquire:focus{
    background-color:#777;
}
/* Home ================================================================= */
.row-home{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bkg_home.jpg);
    background-size:cover;
    background-position: 50% 50%;
}

/* Timeline ============================================================= */
.cd-timeline-img.cd-black {
    background: #000000;
}
.cd-timeline-img {
    position: absolute;
    top: 14px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 1px rgba(0, 0, 0, 0.05);
    margin-left: -10px;
}
#titulo-programa {
    text-align: center;
    margin-bottom: -50px;
}
#titulo-programa h2 {
  color: #000;
  background-color: #FFF;
  display: inline-block;
  width: 70%;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-size: 35px;
  padding: 10px 10px;
  margin: 30px 10px;
}

/* Admin ================================================================ */
.pregunta-container {
  padding: 15px 0;
  text-align: left;
}
p.pregunta {
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}

.admin #contenido-principal ul li {
  list-style-type: lower-latin;
  margin-left: 20px;
}
a.btn.red.btn-respuesta {
  line-height: 22px;
  padding: 0px 5px;
  height: 22px;
  font-size: 12px;
}

/* Responsivo =========================================================== */
@media screen and (max-width:992px){
    main, footer {
        padding-left: 0;
    }
}

@media screen and (max-width:969px){
    .cd-timeline-img {
        position: absolute;
        top: 14px;
        left: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 0px;
        box-shadow: 0 0 0 2px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 1px rgba(0, 0, 0, 0.05);
    }
}

