/* 
    Created on : 28/06/2015, 11:18:11 AM
    Author     : miguelperez
*/

/* Fonts ================================================================= */
@font-face {
    font-family: 'Conv_Grotesque MT Std Condensed';
    src: url('../font/grotesque/Grotesque MT Std Condensed.eot');
    src: url('../font/grotesque/Grotesque MT Std Condensed.woff') format('woff'),
        url('../font/grotesque/Grotesque MT Std Condensed.ttf') format('truetype'),
        url('../font/grotesque/Grotesque MT Std Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('..font/helvetica-neue/HelveticaNeue-CondensedBold.eot');
    src: url('../font/helvetica-neue/HelveticaNeue-CondensedBold.woff') format('woff'),
        url('../font/helvetica-neue/HelveticaNeue-CondensedBold.ttf') format('truetype'), 
        url('../font/helvetica-neue/HelveticaNeue-CondensedBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General ============================================================= */
html, body {margin: 0; padding: 0; overflow: hidden}
body{
    background: #000;
}

body.admin, body.encuesta{
    background: #FFF;
}
.center{
    text-align: center;
}
/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
[type="radio"]:checked+label:after {
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #FFF;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    padding-left: 27px;
    padding-right: 10px;
    height: auto;
    font-size: 14px;
}
[type="radio"]:checked+label{
    background-color:#000;
    color:#FFF;
}
/* Preloader ============================================================= */
#preloader-container {
    background-color: rgba(100,100,100,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}
.preloader-wrapper.big.active {
    position: absolute;
    bottom: 50%;
    right: 50%;
    margin-right: -32px;
}
.spinner-white, .spinner-white-only {
    border-color: #FFFFFF;
}
.active .spinner-layer.spinner-white-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
/* Menu ================================================================== */
.brand-logo img{
    width:50%;
}
li.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.side-nav li.logo:hover{
    background-color: transparent;
}
.side-nav.fixed {
    background-color: #202020;
    color: #adadad;
    text-transform: uppercase;
    overflow: hidden;
}
.side-nav.fixed .bold a {
    color: #adadad;
    padding: 0 50px;
}
.side-nav li.bold:hover a, .side-nav.fixed .bold.active a {
    color: #adadad;
}
.side-nav li {
    float: none;
    padding: 0;
}
i.mdi-navigation-menu {
    color: #FFF;
    font-size: 27px;
}
.admin i.mdi-navigation-menu {
    color: #000;
    font-size: 27px;
}
ul.side-nav li a.waves-effect {
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
}

.side-nav li.bold:hover a, .side-nav.fixed .bold.active a {
    color: #000;
}
.side-nav a#logo-container {
    height: auto;
}
.side-nav a{
    height: auto;
    line-height: 54px;
}
i.fa {
    width: 30px;
}
li.bold.no-effect:hover {
    background-color: #202020;
    cursor: default;
}
li.bold.no-effect:hover a {
    color: #adadad;
    cursor: default;
}
/* Waves ============================================================== */
.waves-effect.waves-esquire .waves-ripple{
    background-color: rgba(0, 0, 0, 0.5);
}

/* Content ============================================================== */
main, footer {
    padding-left: 300px;
}
#contenido-principal{
    padding: 0;
}
#contenido-principal .row{
    margin: 0;
}
#contenido-principal .row .col{
    padding: 0;
    margin: 0;
}
.full-iframe {
    width: 100%;
    height: 90vh;
    border: none;
    overflow: hidden;
    padding: 0;
}
.center{
    margin:0 auto;
    display: block;
}
.btn-esquire{
    background-color:#444;
}
.btn-esquire:hover,.btn-esquire:active,.btn-esquire:focus{
    background-color:#777;
}
/* Home ================================================================= */
.section.home {
    width: 100%;
    height: 94vh;
    overflow: hidden;
}
.row.row-home {
    width: 98%;
    margin-left: auto !important;
    position: relative;
    margin-right: auto !important;
    height: 92vh;
    border: 3px solid #FFF;
    text-align:center;
}
.row.row-home:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #FFF;;
}
.row-home img.principal {
    position: relative;
    max-width: 540px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17vh;
}
.row-home img.programa {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.sponsors {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
/* Programa ============================================================= */

#subtitulo-programa h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: #FFF;
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
    padding: 10px 10px;
}
.section.timeline {
    margin: 0;
    margin-top: -73px;
}
/* Timeline ============================================================= */
.cd-timeline-img.cd-black {
    background: #FFF;
}
.cd-timeline-img {
    position: absolute;
    top: 14px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 1px rgba(0, 0, 0, 0.05);
    margin-left: -10px;
}
#titulo-programa {
    text-align: center;
    margin-bottom: -50px;
}
#titulo-programa h2 {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    width: 70%;
    text-align: center;
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
    font-size: 35px;
    padding: 10px 10px;
    margin: 30px 10px;
}

.cd-timeline-block {
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
}
.cd-timeline-content {
    text-transform: uppercase;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #000;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 0;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #FFF;
    color: #000;
}
/* Encuesta ============================================================= */
#titulo-encuesta {
    text-align: center;
    position: relative;
}
#titulo-encuesta h2 {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    width: 70%;
    text-align: center;
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
    font-size: 35px;
    padding: 5px 5px;
    margin: 10px 10px;
}
#contenido-principal h3{
    text-align: center;
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
    font-size: 30px;
}
.row.pregunta {
    padding: 7px 0px;
}
.row.pregunta p.pregunta {
    margin-bottom: 0px;
    text-align: left;
}
.section.encuesta-section {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 3px solid #000;
    position: relative;
}
.section.encuesta-section .row.row-encuesta:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #000;
}
.section.encuesta-section .row.row-encuesta {
    padding-top: 10px;
    padding-bottom: 10px;
}
.encuesta .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
/* Graficas ============================================================= */
.pregunta{
    padding: 10px;
}
.grafica {
    padding-left: 15px;
    padding-right: 15px;
}
.encuesta-graficas p.pregunta {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    text-align: center;
}

.white{
    color: #000 !important;
}
.tabs .tab a{
    color: #222;
}
.tabs .tab a:hover{
    color: #000;
}
.tabs .indicator{
    background-color: #000;
}
/* Website & issue ====================================================== */ 
.section.iframe{
    padding-bottom: 0px;
}

/* Modal ================================================================ */
.modal{
    width: 35%;
    border-radius: 9px;
    font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
}
.modal-content {
    text-align: center;
}
.modal p {
    font-size: 22px;
}
.modal-footer .btn-flat {
    margin: 6px 0;
    float: none !important;
}
.modal-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 21px;
}
/* Admin ================================================================ */
.pregunta-container {
    padding: 15px 0;
    text-align: left;
}
p.pregunta {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
main.admin-graficas{
    padding: 0px;
}
.admin-graficas .section {
  margin: 0px;
}
.admin-graficas #contenido-principal h3 {
  text-align: center;
  font-family: 'Conv_Grotesque MT Std Condensed', sans-serif;
  font-size: 50px;
  margin: 0 auto;
  max-width: 65%;
}
.admin-graficas #contenido-principal ul li {
    list-style-type: lower-latin;
    margin-left: 20px;
}
.admin-graficas p.pregunta {
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
}

a.btn.red.btn-respuesta {
    line-height: 22px;
    padding: 0px 5px;
    height: 22px;
    font-size: 12px;
}
.section {
    margin: 20px 0px 50px 0px;
}

/* Responsivo =========================================================== */
@media screen and (max-width:992px){
    main, footer {
        padding-left: 0;
    }
}

@media screen and (max-width:969px){
    .cd-timeline-img {
        position: absolute;
        top: 14px;
        left: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 0px;
        box-shadow: 0 0 0 2px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 1px rgba(0, 0, 0, 0.05);
    }
}

.amcharts-main-div a {
    display: none !important;
}
